---
layout: default
---

<article class="my-wrapper-begin">

  <div class>
    {%- include_relative /_includes/basic_info.html -%}
  </div>
</article>

<!--
  sections of home page: saved in _home_sections
-->

{% assign sections = site.home_sections | sort: 'order' %}
{% for section in sections %}
{% if section.last %}
{% include home_sections/end_sections.html %}
{% else %}
{% if section.include != null %}
{% include {{ section.include }} %}
{% else %}
{% include home_sections/default.html %}
{% endif %}
{% endif %}
{% endfor %}


<!--

<div class="home">
{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}


{{ content }}


{%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
{%- endif -%}


</div>
-->
